CPANEL_MYSQL_HOST=localhost
CPANEL_MYSQL_DATABASE=kakiempa_v2
CPANEL_MYSQL_USER=kakiempa_v2_user
CPANEL_MYSQL_PASSWORD=CHANGE_ME
V2_MIGRATE_SECRET=CHANGE_ME
API_BASE_URL=https://www.api.kakiempat.com
